.terms {
    width: 800px;
    height: 400px;
    resize: none
}


.active {
    text-decoration: underline;
}

.active:hover {
    text-decoration: underline;
}

@font-face {
    font-family: RSFONT;
    src: url(RSFONT.otf);
}


body div  ::-webkit-scrollbar-thumb {
    background-color: white; 
}

